body {
  background-color: #6c757d;
  height: 50cm;
  background-repeat: no-repeat;
}
.poster-text {
  width: 800px;
  font-size: 90px;
  display: flex;
  margin-top: 14px;
  margin-left: 40px;
}

.starter {
  height: 30px;
  width: 30cm;
  margin-top: -35px;
  margin-left: -560px;
  background-color: #10002b;
}

img {
  margin-top: 0px;
  height: 22.7cm;
  width: 40cm;
}
.post-of-post {
  width: 298px;
  height: 397px;
  display: flex;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 400px;
  justify-content: sp;
}

.end-page {
  background-color: #212529;
  height: 320px;
  display: flex;
  align-items: flex-end;
}
